.gallery-row {
  display: flex;
  flex-wrap: wrap;
}
.gallery-col {
  flex: 25%;
  max-width: 25%;
}
@media (max-width: 800px) {
  .gallery-col {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
    .gallery-col {
      flex: 100%;
      max-width: 100%;
    }
  }